body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;   
}
.logo-navy {
    color: #2E2F42;
}
.adres {
    font-style: normal;
}
.menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.menu-link {
    color: #2E2F42;
}

.menu-link:hover,
.menu-link:focus,
.adres-link:hover,
.adres-link:focus{
    color: #404bbf
}
.adres-link {
    letter-spacing: 0.02em;
    color: #434455;
    line-height: 1.5;
}


.start {
    background-color: #2E2F42;
}

.solutions { 
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: #ffffff;
   text-align: center;
}

.order {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto",sans-serif;
    cursor: pointer;
    background-color: #4D5AE5;
}

.order:focus,
.order:hover{
    background-color: #404BBF;
}

ul {
    list-style-type: none;
}

.titleee {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.details {
    text-align: left;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.team {
    background-color: #F4F4FD;
    text-align: center;
}

.workers {
    color: #2E2F42;
    font-weight: 700;
    Letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    font-size: 36px;
}

.list {
    background-color: #ffffff;
}
.person {
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    font-weight: 500;

}

.job {
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.portfolio {
    text-align: left;
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 20px;
    line-height: 1.2;
}

.jobs {
    text-align: left;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.end {
    background-color: #2E2F42;
}
.last {
    text-align: left;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;   
}

.logo-footer-navy {
    color: #f4f4fd;
}