*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;

}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/*

.menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}



.icon-form-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*/

.check {
    cursor: pointer;
}

.header-first{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin: 0 auto;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    letter-spacing: 0.03em;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;   
    display: flex;
    text-decoration: none;
    padding-left: 0;
    padding-top: 16px;
    padding-bottom: 16px;
}
.logo-navy {
    color: #2E2F42;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.menu-hamburger .is-open-hamburger {
    transform: translateX(0);
}

.left-navigation,
.right-navigation {
    display: none;
}

.left-navigation.hamburger {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 40px;
}

.right-navigation.hamburger {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}

.menu-link:hover,
.menu-link:focus,
.adres-link:hover,
.adres-link:focus{
    color: #404bbf
}

.adres-link:active {
    color: #404bbf
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link.hamburger.menu-link-active {
    color: #404bbf;
}

.menu-link.hamburger {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding: 0;
}

.menu-link-active::after {
    content: "";
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.adres {
    font-style: normal;
}

.adres-link {
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.17;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
}

.adres-link.hamburger {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.menu-hamburger-button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.hamburger-icon {
    fill: #2f2f37;
    cursor: pointer;
}

.menu-hamburger {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    padding-top: 72px;
    padding-left: 16px;
    padding-bottom: 40px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
}

.menu-hamburger.is-open-hamburger {
    transform: translateX(0);
}

.mobile-menu.hamburger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
}

.socials-list {
    width: 40px;
    height: 40px;
}


.service {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-family: "Roboto",sans-serif;
    cursor: pointer;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service:focus,
.service:hover{
    background-color: #404BBF;
}

.solutions { 
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 200px;
    margin: 0 auto;
    margin-bottom: 48px;
 }

 .socials-footer-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.socials-footer-link:hover,
.socials-footer-link:focus,
.socials-footer-link:active {
    background-color: #31d0aa;
}

.start {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/heroimage-mobile.jpg);
max-width: 320px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
text-align: center;
padding: 72px 0;
margin: 0 auto;
background-color: rgb(46, 47, 66);
}


.things {
    padding: 96px 0;
}

.things-list {
    display: flex;
    row-gap: 72px;
    flex-direction: column;
}

.things-seperated {
    width: 100%;
    gap: 72px;
}

.icon-container {
    display: none;
}

.titleee {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.titleee.mobile-header {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

.workers {
    color: #2E2F42;
    font-weight: 700;
    Letter-spacing: 0.02em;
    line-height: 1.11;
    text-transform: capitalize;
    font-size: 36px;
    text-align: center;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.workers-list {
    display: flex;
    row-gap: 72px;
    flex-wrap: wrap;
    justify-content: center;
}

.list {
    background-color: #ffffff;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.description {
    padding: 32px 0;
}

.person {
    color: #2E2F42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;

}

.job {
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 9px 16px 0px 16px;
}

.socials-logos {
    height: 40px;
    width: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-links:hover,
.socials-links:focus {
    background-color: #404bbf; 
}

.svg-two {
    fill: #F4F4FD;
}

.section-port {
    padding: 96px 0;
}

.portfolio-listed {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}

.portfolio-segregated:hover .transition-text,
.portfolio-segregated:focus .transition-text {
transform: translateY(0%);
}

.portfolio-segregated:hover,
.portfolio-segregated:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}


.portfolio-segregated {
    color: #F4F4FD;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
}

.imgtransition {
    position: relative;
    overflow: hidden;
 }


 .transition-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
}


.container-mini {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.jobs {
    text-align: left;
    color: #434455;
    letter-spacing: 0.02em;
    line-height: 1.5;
    margin-bottom: 8px;
}

.end {
    background-color: #2E2F42;
    padding: 96px 0;
}

.end-container {
    display: flex;
    align-items: baseline;
    gap: 72px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    line-height: 1.17;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;   
    text-decoration: none;
    display: block;
    padding: 0;
    margin-bottom: 16px;
    text-align: center;
    align-content: center;
    margin-right: 0;
}

.logo-footer-navy {
    color: #f4f4fd;
}

.last {
    color: #F4F4FD;
    flex-wrap: wrap;
    display: block;
    width: 100%;
}

.end-logo-container {
    margin: 0 auto;
}

.last-text {
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
    color: #ffffff;
    margin-bottom: 16px;
    display: block;
    text-align: center;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.subscribe {
    margin: 0;
}

.subscribe-form {
    display: flex;
    gap: 16px;
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
}

.subscribe-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4d5ae5;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.icon-subscribe {
    fill: white;
    margin-left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    padding: 72px 16px 24px 16px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    top: 24px;
    right: 24px;
    background-color: #e7e9fc;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.close-button:active,
.close-button:hover,
.close-button:focus {
    background-color: #404bbf;
    border: none;
    fill: white;
}

.icon-form-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.form-modal {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 8px;
}

.form-field:focus-within {
    border-color: #4d5ae5;
}

.form-field:focus-within .icon-form {
    fill: #4d5ae5;
}

.field-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    padding: 0;
    display: block;
    margin-bottom: 4px;
}

.check:checked + .field-description span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.field {
    position: relative;
    width: 100%;
    height: 40px;
}


.input-field:focus {
    border-color: #4d5ae5;

}



.input-field {
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
}

.icon-form {
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-area:focus-within {
    border-color: #4d5ae5
}


.privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}


.privacy-link {
    color: #4d5ae5;
}

.accept {
    display: flex;
    margin-bottom: 24px;
}

.send-button{
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.input-subscribe {
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    align-content: center;
    align-items: baseline;
    outline: none;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
}

.input-subscribe::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    opacity: 0.6;
}

.checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.checkbox:active {
    background-color: #404bbf;
}


@media (min-resolution: 192dpi) {
    .start {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/heroimage-mobile@2x.jpg);
    }}


@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .logo {
        margin-right: 120px;
    }


    .left-navigation {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        gap: 40px;
    }

    .right-navigation {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: flex-end;
    }

    .menu-link-active {
        position: relative;
        color: #404bbf;
    }
   
   
    .menu-link-active::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background-color: #404BBF;
        border-radius: 2px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .menu-hamburger-button,
    .menu-hamburger {
       display: none; 
    }

    .solutions { 
        font-size: 56px;
        max-width: 496px;
    }

    .start {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/heroimage-tablet.jpg);
        max-width: 768px;
        padding: 112px 0;
    }

    .things {
        padding: 96px 0;
    }

    .things-list {
        flex-wrap: wrap;
        column-gap: 24px;
        flex-direction: row;
    }

    .things-seperated {
        width: calc((100% - 24px) / 2);
        gap: 72px;
    }
    
    .details {
       font-weight: 500;
    }

    .titleee.mobile-header {
        text-align: left;
    }

    .workers-list {
        margin: 0 auto;
        row-gap: 64px;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
    }

    .portfolio-listed {
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        margin: 0 auto;
    }

    .portfolio-segregated {
        width: calc((100% - 24px) / 2);
    }

    .end-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 24px;
        row-gap: 72px;
        align-items: baseline;
        max-width: 530px;
    }

    .logo-footer {
        display: block;
        margin-right: 0;
        text-align: left;
    }

    .last {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
        width: 264px;
    }

    .end-logo-container {
        margin: 0;
    }

    .last-text {
        text-align: left;
    }

    .subscribe {
        margin-left: auto;
    }

    .subscribe-form {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }

    .modal {
        width: 408px;
        min-height: 584px;
    }

}

@media (min-width: 768px) and (min-resolution: 192dpi) {
    .start {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/heroimage-tablet@2x.jpg);
    }
}









@media (min-width: 1158px) {

    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }


     .logo {
        padding: 0;
        margin-right: 76px;
    }
    .left-navigation,
    .right-navigation {
        flex-direction: row;
    }

    .right-navigation {
        gap: 40px;
        padding: 24px 0;
        margin-right: 0;
        justify-content: flex-end;
    }
     
    .adres-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .start {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/heroimage-desktop.jpg);
        max-width: 1440px;
        padding: 188px 0;
    }

    .things {
        padding: 120px 0;
    }

    .things-seperated {
        width: calc((100% - 72px) / 4);
    }

    .icon-container {
        display: block;
        background-color: #F4F4FD;
        padding: 24px 100px;
        border-radius: 4px;
        margin-bottom: 8px;
        position: relative;
        width: 264px;
        height: 112px;
        border: 1px solid #8e8f99;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .svg-one {
        position: absolute;
        top: 24px;
        left: 100px;
    }
    
    .details {
        font-weight: inherit;
    }

    .titlee.desktop-header {
        font-size: 20px;
        font-weight: 500;
    }

    .team {
        padding: 120px 0;
    }


    .portfolio-segregated {
        width: calc((100% - 48px) / 3);
    }

    .end {
        height: 312px;
        padding: 100px 0;
    }

    .end-container {
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: baseline;
        }

    .logo-footer {
        display: inline-block;
        margin-bottom: 16px;
        text-align: left;
    }

    .last {
        width: 264px;
    }

    .end-logo-container {
        margin-right: 120px;
    }

    .modal {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }

    .input-subscribe::placeholder {
        color: #fff;
        opacity: 1;
    }

    .input-subscribe {
        opacity: 1;
    }

}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
    .start {
        background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)
            ),
            url(../images/heroimage-desktop@2x.jpg);
    }
}



