body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}

.logo{
    font-family:'raleway', sans-serif;
    color: #4D5AE5;
    letter-spacing: 0,03em;
    line-height: 1,31;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;   
}
.logo-navy{
    color: #2E2F42;
}




ul{
    list-style-type: none;
}